<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fourthand</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
    .full-width-container {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        background-color: #729d98;
    }

        .full-width-container-2 {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        background-color: beige;
    }

    .custom-nav {
        background-color: beige;
    }

    .custom-btn {
        background-color: #729d98;
        border: none;
    }

</style>

</head>
<body style="background-color: #729d98;">

<nav class="navbar navbar-expand-lg fixed-top custom-nav">
<div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
      </ul>
    </div>
  </div>

</nav>

<div class="container" style="height: 55px;">
</div>

<div class="full-width-container">
    <div class="container" style="height: 250px;">
        <br><br>
            <h1 style="font-family: Montserrat;">You're in Fourthand,<br>find what you're looking for at the best price.</h1>
    </div>
</div>

<div class="full-width-container" style="height: 480px; background-image: url('{{ url_for('static', filename='images/img.png') }}');"></div>


<div class="full-width-container-2">
    <div class="d-flex justify-content-center">
        <h1 style="font-family: Montserrat;">Discover automated shopping by easily signing up.</h1>
    </div>

    <div class="d-flex justify-content-center">
        <button id="start" type="button" class="btn btn-secondary custom-btn">Let's get started</button>
    </div>
    <br>
</div>

<script>
  document.getElementById("start").addEventListener("click", function() {
    window.location.href = "/signup";
  });
</script>


<div class="b-example-divider"></div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary">&copy; 2023 Fourthand Inc.</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    </a>

    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
      <li class="nav-item"><a href="/pricing" class="nav-link px-2 text-body-secondary">Pricing</a></li>
      <li class="nav-item"><a href="/faq" class="nav-link px-2 text-body-secondary">FAQs</a></li>
      <li class="nav-item"><a href="/about" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
  </footer>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
