<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fourthand · Log in</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script>
    function onSubmit(token) {
     document.getElementById("sign-up-form").submit();
     }
    </script>

<style>
    .full-width-container {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        background-color: #729d98;
    }

    .custom-nav {
        background-color: beige;
    }



</style>

</head>

<body style="background-color: #A0C1B9;">


<nav class="navbar navbar-expand-lg fixed-top custom-nav">
<div class="container">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
      </ul>
    </div>
  </div>

</nav>



<div class="container" style="height: 55px;">
</div>

<div class="full-width-container">

    <div style="margin-bottom: 150px;"></div>

    <div class="align-self-center">
        <div class="container"><hr></div>

    <div style="height: 15px;"></div>

    <div class="d-flex justify-content-center">
        <h1 class="display-5">Log in</h1>
    </div>

    <div class="container"><hr></div>

        <div class="d-flex justify-content-center">
            <form id="sign-up-form" method="POST" action="/login">
                <div class="mb-3">
                    <input type="email" placeholder="Email address" class="form-control" name="email">
                </div>
                <div class="mb-3" style="margin-bottom: 10px;">
                    <input type="password" placeholder="Password" class="form-control" name="password">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="g-recaptcha btn btn-primary" data-sitekey="{{site_key}}" data-callback='onSubmit' data-action='submit' name="g-recaptcha-response">Log In</button>
                </div>
                <div>
                    <br>
                    <a style="color:black;text-decoration:none" class=beautiful-link" href="/signup">Sign up here</a></p>
                </div>
                <div>
                    <a style="color:black;text-decoration:none" class="beautiful-link" href="/forgot">Forgot your password?</a></p>
                </div>
            </form>
        </div>

        <div class="d-flex justify-content-center">
            {% if message %}
                      <p>{{ message }}</p>
                    {% endif %}
        </div>

    <div class="container"><hr></div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
