<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<style>
    .full-width-container {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        background-color: #729d98;
    }

        .full-width-container-2 {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        background-color: beige;
    }

    .custom-nav {
        background-color: beige;
    }

    .custom-btn {
        background-color: #729d98;
        border: none;
    }

</style>

</head>
<body style="background-color: #729d98;">

<nav class="navbar navbar-expand-lg fixed-top custom-nav">
  <div class="container">
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:red;" href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br><br>

<div class="container" style="height: 55px;">
</div>

<div class="full-width-container">

    <div class="container" style="height: 250px;">

        <div class="row">
            <div class="col-sm-4">
                    <h2 style="font-family: Montserrat;">Add New Task</h2>

                    <form method="POST" action="/tasks">
                        <div class="mb-3">
                            <input type="text" placeholder="Implement new CSS styles" class="form-control" id="new_task" name="new_task">
                        </div>
                            <div class="mb-3" style="margin-bottom: 10px;">
                            <input type="text" placeholder="@Person to assign [ALL/ADMIN/DEV]" class="form-control" name="assign" id="assign">
                            </div>
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-dark" id="track">Add Task</button>
                            </div>

                    </form>
<div class="d-flex justify-content-center">
            {% if message %}
                      <p>{{ message }}</p>
                    {% endif %}
        </div>
                </div>
            <div class="col-sm-4">
                <h1 style="font-family: Montserrat;">Current Tasks</h1>

                <hr>
                {% for task in current_tasks %}
                     <h6 style="font-family: Montserrat;">{{ loop.index }} - {{ task[1] }}</h6>
                <button type="button" class="btn btn-primary btn-sm done-task-btn" data-task-id="{{task[0]}}">✅</button>
                <button type="button" class="btn btn-primary btn-sm delete-task-btn" data-task-id="{{ task[0] }}">🗑️</button>
                {% endfor %}
            </div>
            <script>
$('.delete-task-btn').on('click', function() {
    var taskId = $(this).data('task-id');
    $.ajax({
        url: '/delete_task/' + taskId,
        type: 'DELETE',
        success: function(response) {
        location.reload();
        },
        error: function(error) {
        }
    });
});
            </script>
                        <script>
$('.done-task-btn').on('click', function() {
    var taskId = $(this).data('task-id');
    $.ajax({
        url: '/done_task/' + taskId,
        type: 'DONE',
        success: function(response) {
        location.reload();
        },
        error: function(error) {
        }
    });
});
            </script>
            <div class="col-sm-4">
                <h1 style="font-family: Montserrat;">Completed Tasks</h1>
                <hr>
                {% for task in completed_tasks %}
                    <h4 style="font-family: Montserrat;">{{ loop.index }} - {{ task[1] }}</h4>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">

                <div class="col-sm-6">

                </div>
            </div>
        </div>

    </div>

</div>

<script>
        function checkInput() {
            var product = document.getElementById("product").value;
            var submitBtn = document.getElementById("track");
            if (product.trim() === "") {
              submitBtn.disabled = true;
            } else if (product.includes("@")) {
            submitBtn.disabled = true;
            } else {
              submitBtn.disabled = false;
            }
        }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
